certifi==2024.8.30
charset-normalizer==3.3.2
filelock==3.16.0
fsspec==2024.9.0
huggingface_hub==0.24.7
idna==3.10
line_profiler==4.2.0
numpy==1.26.3
packaging==24.1
pkg_resources==0.0.0
psutil==6.1.0
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
safetensors==0.4.5
tokenizers==0.19.1
torch==1.11.0
tqdm==4.66.1
transformers==4.44.2
typing_extensions==4.9.0
urllib3==2.2.3
